<h1>Adopted Animals</h1>

<p>All animals here have been adopted and are awaitng collection.</p>


<table>
  <tr>
    <th>Picture</th>
    <th></th>
    <th>Name</th>
    <th></th>
    <th>Owner</th>
    <th></th>
    <th>Owner Contact Number</th>
  </tr>
  <% @adoptions.each do |adoption|%>
  <tr>
    <td><img src="<%= adoption.animal.picture %>"> </td>
    <td></td>
    <td><%= adoption.animal.name %></td>
    <td></td>
    <td><%= adoption.owner.name %></td>
    <td></td>
    <td><%= adoption.owner.contact %></td>
  </tr>

  <% end %>



</table>
