<h1>Adopted Animals</h1>

<p>All animals here have been adopted and are awaitng collection.</p>


<table>
  <tr>
    <th>Picture</th>
    <th></th>
    <th>Name</th>
    <th></th>
    <th>Owner</th>
    <th></th>
    <th>Owner Contact Number</th>
  </tr>
  <% @owner.each do |owner|%>
  <% @animal.each do |animal|%>
  <tr>
    <td><img src="<%= animal_id.picture %>"> </td>
    <td></td>
    <td><%= owner.animal_id %></td>
    <td></td>
    <td><%= owner.name %></td>
    <td></td>
    <td><%= owner.contact %></td>
  </tr>

  <% end %>



</table>
