<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Scottish Animal Shelter</title>
  <link rel="icon" href="/logo.jpg" />

</head>
<body>
  <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/animals">All Animals in Shelter</a></li>
        <li><a href="/available">Animals Available for Adoption</a></li>
        <li><a href="/adopted">Adopted Animals</a></li>
      </ul>
  </nav>



  <%= yield %>

</body>
</html>
