<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Scottish Animal Shelter</title>
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  <link rel="icon" href="/logo.jpg" />

  <link rel="stylesheet" type="text/css" href="/styles/structure.css">


</head>
<body>

  <nav class ="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/animals">All Animals in Shelter</a></li>
        <li><a href="/available">Animals Available for Adoption</a></li>
        <li><a href="/adopted">Adopted Animals</a></li>
        <li><a href="/adopted/new">Process new Adoption</a></li>
      </ul>
  </nav>


  <%= yield %>


</body>
</html>
