body {
  font-family: 'Abel', sans-serif;
  color: #338CC4;
  background-color: #F9FFF9;
  padding: 0px;
  margin: 0px;
}

h1 {
  text-align: center;
  font-size: 35px;
  border-bottom: 3px solid #338CC4;
  margin: 5%;
}

h2 {
  margin: 5%;
  font-size: 30px;
}

h3 {
  float: right;
  margin-right: 30px;
  font-size: 25px;
}

h3 a {
  text-decoration: none;

}

p {
  font-size: 25px;
  padding-left: 30px;
}

.search {
  text-align: right;
  margin-right: 30px;
  margin-top: 60px;
}

.search-label {
  font-size: 30px;
}

.search-input {
  font-size: 30px;
}

.search--results {
  margin-top: 50px;
}

.home ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 32px 0;
}

.home li {
  margin: 15px;
  flex-basis: calc(50% - 60px);
  background-color: #BCE2D2;
  text-align: center;
  line-height: 200px;
  font-size: 35px;
}

.home li:nth-child(2), .home li:nth-child(3) {
  background-color: #B5BDC3;
}

.home li a {
  text-decoration: none;
  color: inherit;

}

.home li a:hover{
  font-size: 120%;
  color: inherit;
}

.nav ul{
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}


.nav a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.nav a:hover {
  font-size: 32px;
 }

.img {
  width: 250px;
}

.blacklist {
  display: inline-block;
  flex-direction: row;
}

.black-link {
  text-align: center;
}

a.blacklist-link  {
  text-decoration: none;
  font-size: 30px;
  color: black;
}


.registration {
  display: flex;
  margin-left: 30px;
  margin-bottom: 100px;

}

.reg-chld-1 {
  width: 50%;
}

.reg-chld-2 {
  width: 25%;
  border: 5px black solid;
  height: 200px;
}

.allocation {
  margin-left: 30px;
}

/*tables*/

table {
  width: 100%;
  display: table flex;
  border-bottom: 2px solid #d0d0d0;
  border-top: 2px solid #d0d0d0;
  font-size: 20px;
}

th {
  display: none;
  width: 100%;
}

tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  padding: 10px;
}

.cell-text{
  align-self: center;

}


/*buttons*/
.wrapper{
  display: flex;
  margin: 30px;
}

.btn {
  font-size: 30px;
  text-decoration: none;
  color: #338CC4;
  background-color: #FFF;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.btn--remove {
  background-color: #D84343;
  color: #FFF;
  font-size: 25px;
}

.btn--edit {
  font-size: 25px;
}

.btn--confirm {
  background-color: #23BA46;
  color: #FFF;
  font-size: 25px;
}

.btn--add {
  font-size: 20px;
  margin: 20px;
  background-color: #23BA46;
  color: #FFF;
}

.btn--adoption {
  font-size: 20px;
  margin-left: 90px;
}

/*forms*/

.form {
  width: 90%;
  margin: 50px auto;
}

.field-group {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.info-box textarea {
  font-family: inherit;
  font-size: 20px;
  width: 30%;
  height: 150px;
  word-wrap: break-word;
  word-break: break-all;
}



label {
  font-size: 20px;
  margin-right: 10px;
}

input[type=text] {
  font-family: inherit;
  font-size: 20px;
  width: 30%;
  margin-right: 40px;
}

select {
  font-family: inherit;
  font-size: 20px;
  width: 20%;
  margin-right: 40px;
}

/*info page*/

.details {
  margin: 40px;
}
